body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#94a8bc;
  color:#fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* esto asegura que el body ocupe toda la pantalla */
}
/*Header*/
.navbar{
  position:fixed;
  top:0;
  width:100%;
  z-index: 1000;
  background:#90bc9a;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
}
.brand{
font-size:2rem;

}
.nav-inner{
  width:90%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.brand{
  font-size:1.4rem;
  font-weight:bold;
}

.accent{
  color:#00e18e;
}

.menu button{
  background:none;
  border:0;
  color:#fff;
  margin:0 10px;
  font-size:1.2rem;
  cursor:pointer;
  padding:10px 15px;
}

.menu button.active{
  border-bottom:2px solid #00e18e;
}
/*Main*/
main{
  flex: 1;
  padding: 20px;
  padding-top: 100px;
  flex: 1; /* hace que main ocupe el espacio restante empujando el footer hacia abajo */
  padding: 20px;
}
/*tab section*/
.tab-section{
  display:none;
  width:80%;
  margin:auto;
  animation:fadein .4s;
}

.tab-section.active{
  display:block;
}

@keyframes fadein{
  from{opacity:0}
  to{opacity:1}
}
/*footer*/
.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px 10px;
  display: flex;
flex-direction: column; 
align-items: center;
justify-content: center;
}

.footer a {
  color: #00bcd4;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-logo { 
 width: auto; 
 height: 10px; 
 margin-bottom: 5px;
}
 
/*scroll padding para hacer fijo*/
html { scroll-padding-top: 100px; /* esto asegura que el contenido no quede oculto debajo del header fijo */ }