/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f5f0;
    color: #333;
    text-align: center;
}

/* Header */
header {
    background-color: #2e7d32;
    color: white;
    padding: 20px 0;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 60px 20px;
}

section h2 {
    color: #2e7d32;
    margin-bottom: 15px;
}

/* Botón */
button {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #27632a;
}

/* Footer */
footer {
    background-color: #1b5e20;
    color: white;
    padding: 20px 0;
}
/* Espacio y color para los iconos del menú */
nav a i {
    margin-right: 5px; /* separa el ícono de la palabra */
    color: white;       /* cambia el color del ícono si quieres */
    font-size: 18px;    /* tamaño del ícono, ajusta si quieres */
}
